*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(200, 248, 232);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 5px;
}
span{
    color: rgb(248, 58, 10);
}

form{
    background-color: aliceblue;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 30px;
}
fieldset{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(4, 56, 58);
}
legend{
    font-weight: bold;
    text-align: left;
}
label{
    display: block;
    margin-top: 10px;

}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid  rgb(4, 56, 58);
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: rgb(19, 168, 226);
}


#resume_output{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(4, 56, 58);
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume_output h2{
    color: black;
}
